@page "/client/view"
@inject IClientService ClientService
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject AppState _appState

<PageTitle>Client View</PageTitle>

<h1>Hello @_client.Name</h1>



@code {
    private ClientDto _client = new ClientDto();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var c = await ClientService.GetById(_appState.ClientId.Value);
        _client = new ClientDto()
            {
                Id = c.Id,
                Name = c.Name,
                Surname = c.Surname,
                PhoneNumber = c.PhoneNumber,
                Email = c.Email,
                IsCompany = c.IsCompany,
                NIP = c.NIP
            };
    }

}
